body {
  margin: 0;
  padding: 0;
  height: 20rem;
  width: 20rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.btn {
  border: none;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-weight: bold;
}
