* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 30rem;
  width: 20rem;
  font-family: "Montserrat";
}

.title {
  height: 10%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}

.title .img {
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 5px;
  margin-right: 10px;
}

.title h1 {
  font-size: 1rem;
}

.title span {
  font-size: 0.7rem;
  opacity: 0.8;
}

.note {
  text-align: center;
  opacity: 0.8;
  font-size: 0.7rem;
  padding-top: 5px;
}

.container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  padding: 5px 8px;
  width: 90%;
  border: 1.9px solid rgb(0, 0, 0, 0.15);
  border-radius: 6px;
  padding-right: 10px;
}

.card h1 {
  font-size: 1rem;
}

.card h2 {
  font-size: 0.9rem;
  font-weight: 500;
}

.card p {
  font-size: 0.7rem;
  opacity: 0.8;
}

.card ol {
  font-size: 0.7rem;
}

.card span {
  display: block;
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.6;
  margin: 5px 0;
}

li:before {
  content: "";
  margin-right: -9px;
}

li {
  margin-bottom: 3px;
  font-size: 0.7rem;
}
